@import url('https://fonts.googleapis.com/css?family=Sriracha');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,400,800');
*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
header	{
	background-color: #1D2A36;
	margin: 5px 0;
}
body {
	color: #fff;
	background:#1D2A36;
	font-size: 16px;
	font-family: 'Work Sans', sans-serif;
	line-height: 1.3;
}
div {
	background-color: #1D2A36;
}
section {
	background-color: #1D2A36;
	padding: 20px;
	font-weight: 200;
}
h1 {
	font-family: 'Sriracha', sans-serif;
	font-size: 6em;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 1px 1px 3px black;
}
h2	{
	font-family: 'Sriracha', sans-serif;
	font-variant: small-caps;
	font-weight: 200;
	font-size: 3em;
	line-height: .9em;
	padding-bottom: .5em;
} 
h3 {
	font-family: 'Work Sans', sans-serif;
	font-variant: small-caps;
	font-weight: 400;
	font-size: 1.6em;
}
h2, h3 {
	text-shadow: 1px 1px 2px black;
}
img{
    margin: .5em auto;
    width: 100%;
}
nav a {
	color: #fff;
	display:inline-block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 30px;
}
nav a:link{

}
nav a:visited{
	
}
nav a:hover{
	text-decoration: underline;

}
nav a:active{
	
}
nav {
	background-color: #DE443B;
	text-align: center;
}
footer a {
	color: #FFFFFF;
}
article {
	background-color: #345169;
	padding: 20px;
}
footer {
	background-color: #DE443B; 
	border: 1px black solid;
	padding: 20px;
	margin: 5px 0;
	font-weight: 400;
	font-size: 1em;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.cta {
	background: #C9EBDB;
	color: #151619;
	display:inline-block;
	text-transform: uppercase;
	font-weight: bold;
	padding:1em 2em;
	text-decoration: none;
	margin: 1em 0;
}
.hikes {
	margin-bottom: 2em;
	background-color: #345169;
	padding: 0;
}
#top_cta {
	float: right;
}
#about {
	float: left;
	width: 66%;
}
#slogan {
	color: #fff;
	font-weight: 200;
	font-style: none;
	line-height: .3em;
	font-size: 48px;
	margin-bottom: 0px;
	padding: 0;
	text-shadow: 1px 1px 3px black;
}
#intro {
	background: url(../images/top3.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
	padding: 3em 0;
	text-align: center;
}
#left {
	background-color: #345169;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 49%;
}
#right {
	background-color: #345169;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 49%;
}